{% extends 'base.html.twig' %}

{% block title %}Liste des projets{% endblock %}

{% block body %}
<section id="index_project">
    <h1>Liste des projets</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Langage</th>
                <th>Année</th>
                <th>Description</th>
                <th>Lien</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for project in projects %}
            <tr>
                <td>{{ project.id }}</td>
                <td>{{ project.name }}</td>
                <td>{{ project.language }}</td>
                <td>{{ project.year }}</td>
                <td>{{ project.description }}</td>
                <td>{{ project.link }}</td>
                <td>{{ project.image }}</td>
                <td>
                    <a href="{{ path('project_show', {'id': project.id}) }}">Voir</a>
                    <a href="{{ path('project_edit', {'id': project.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Pas d'enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('project_new') }}">Nouveau projet</a>
</section>
{% endblock %}
